img {
    height: 350px;
    border: 8px solid rgb(177, 15, 63);
    border-radius: 15px;
}

.col-md-4 {
    float: right;
}

h2 {
    text-align: center;
}

.list-group {
    padding: 5px;
    width: 78%;
    list-style: none;
}



.list-group-item {
    padding: 5px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #EEEEEE;
    border: 1px solid #DDDDDD;
}

.list-group-item:nth-child(odd) {
    background-color: #cccc;
}


.row2 {
    clear: both;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


.btn {
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.btn-primary {
    background-color: rgb(230, 70, 56);
}

.btn-default {
    background-color: rgb(29, 128, 185);
}

.btn-success {
    background-color: rgb(25, 158, 47);
}



@media (max-width: 768px) {
    img {
        width: 205px;
        height: 330px;
    }
}

@media (max-width: 568px) {
    .wrap {
        padding: 0px 0px 0px 0px;
    }

    h2 {
        font-size: 28px;
        padding: 8px;
    }

    img {
        width: 190px;
        height: 290px;
    }

    .list-group {
        font-size: 18px;
    }

    .well {
        font-size: 19px;
    }

    .btn {
        font-size: 11.5px;
    }
}

@media (max-width: 480px) {
    .wrap {
        padding: 0px 0px 0px 0px;
    }

    h2 {
        font-size: 28px;
        padding: 8px;
    }

    img {
        width: 190px;
        height: 290px;
    }

    .list-group {
        font-size: 18px;
    }

    .well {
        font-size: 19px;
    }

    .btn {
        font-size: 11.5px;
    }
}

@media (max-width: 415px) {
    .wrap {
        padding: 0px 0px 0px 0px;
    }

    h2 {
        font-size: 28px;
        padding: 8px;
    }

    img {
        width: 179px;
        height: 267px;
    }

    .list-group {
        font-size: 18px;
    }

    .well {
        font-size: 19px;
    }

    .btn {
        font-size: 11.5px;
    }
}

@media (max-width: 320px) {
    .wrap {
        padding: 0px 0px 0px 0px;
    }

    h2 {
        font-size: 28px;
        padding: 8px;
    }

    img {
        width: 160px;
        height: 255px;
    }

    .list-group {
        font-size: 16px;
    }

    .well {
        font-size: 17px;
    }

    .btn {
        font-size: 11.5px;
    }
}